<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Check for title -->
	<title>{% if title %} {{ title }} {% else %} MusicDB {% endif %}</title>

	<!-- Custom favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/css.css') }}">
	<!-- # Open Sans -->

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

	
	{% endblock %}
</head>
<body>
	<br>
	<br>

	<div class="container sticky-top">
		<nav class="navbar bg-body-tertiary rounded-5 navbar-expand-lg" data-bs-theme="dark">
			<div class="container">
			<div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
					<!-- left -->
					<a class="navbar-brand col-lg-3 me-0" href="{{ url_for('main.home') }}" style="height: 38px; padding-top: 0; padding-bottom: 0;">
						<img src="{{ url_for('static', filename='img/musicdb_logo_light.png') }}" alt="" style="max-height: 100%;">
					</a>
					
					<!-- mid -->
					<ul class="navbar-nav col-lg-6 justify-content-lg-center">

						
						

						<li class="nav-item">
							<div class="btn-group">
								<button type="button" class="btn btn-secondary dropdown-toggle rounded-0 rounded-start-pill" data-bs-toggle="dropdown" aria-expanded="false">Explore</button>
								<span class="visually-hidden">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{ url_for('songs.songs') }}">Songs</a></li>
								<li><a class="dropdown-item" href="#">Albums</a></li>
								<li><a class="dropdown-item" href="{{ url_for('artists.artist') }}">Artists</a></li>
								<li><a class="dropdown-item" href="#">Profiles</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{{ url_for('songs.upload') }}">Upload</a></li>
								</ul>
							</div>
						</li>

						<!-- <li class="nav-item">
							<div class="btn-group">
								<button type="button" class="btn btn-secondary dropdown-toggle rounded-0" data-bs-toggle="dropdown" aria-expanded="false">Explore</button>
								<span class="visually-hidden">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Songs</a></li>
								<li><a class="dropdown-item" href="#">Albums</a></li>
								<li><a class="dropdown-item" href="#">Artist</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#">Users</a></li>
								</ul>
							</div>
						</li> -->

						<li class="nav-item">
							<form role="search">
								<input class="form-control rounded-0" id="c-navbar-search" type="search" placeholder="Search" aria-label="Search">
							</form>
						</li>
						<li class="nav-item">
							<button type="button" class="btn btn btn-secondary rounded-end-pill">
								<img src="{{ url_for('static', filename='icons/search.svg') }}" style="position: relative; bottom: 2px; right: 3px; filter: invert(100%);">
							</button>
						</li>
					</ul>`

					



					<!-- right -->
					<ul class=" navbar-nav col-lg-3 justify-content-lg-end">
						<!-- <li class="nav-item" style="padding-right: 10px;">
							<button type="button" class="btn btn-success rounded-pill">
								<img src="bootstrap-icons-1.11.3/gear-fill.svg" alt="">
							</button>
						</li> -->
						{% if current_user.is_authenticated %}
						<!-- What if there us a user logged in -->


						<li>
							<a href="{{ url_for('users.profile') }}">
								<button type="button" class="btn btn-outline-success rounded-0 rounded-start-pill">
									{{ current_user.username }}
								</button>
							</a>
						</li>

						{% if current_user.admin %}
						<li class="nav-item">
							<div class="btn-group">
								<button type="button" class="btn btn-danger dropdown-toggle rounded-0" data-bs-toggle="dropdown" aria-expanded="false">ADMIN TOOLS</button>
								<span class="visually-hidden"></span>
								</button>
								<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{ url_for('artists.artist_add') }}">add artist</a></li>
								<li><a class="dropdown-item" href="#">F.A.Q.</a></li>
								</ul>
							</div>
						</li>
						{% endif %}

						<li class="nav-item">
							<div class="btn-group">
								<button type="button" class="btn btn-success dropdown-toggle rounded-0 rounded-end-pill" data-bs-toggle="dropdown" aria-expanded="false">
									{% if current_user.profile_picture == 'default.jpg' %}
									<img src="{{ url_for('static', filename='img/default_user.jpg') }}" alt="profile picture" class="rounded-5" style="height: 20px; width: 20px; transform: scale(130%);">
									{% else %}
									<img src="{{ url_for('utils.cdn_profile_picture', filename=current_user.profile_picture) }}" alt="profile picture" class="rounded-5" style="height: 20px; width: 20px; transform: scale(130%);">
									{% endif %}
								</button>
								<span class="visually-hidden">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">About</a></li>
								<li><a class="dropdown-item" href="#">F.A.Q.</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="#">Profile</a></li>
								<li><a class="dropdown-item" href="{{ url_for('users.account') }}">Account</a></li>
								<li><hr class="dropdown-divider"></li>
								<li><a class="dropdown-item" href="{{ url_for('users.logout')}}">Logout</a></li>
								</ul>
							</div>
						</li>

						{% else %}
						<!-- No user logged in -->
						<li class="nav-item">
							<a href="{{ url_for('users.register') }}">
								<button type="button" class="btn btn-success rounded-start-pill">SIGN UP</button>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('users.login') }}">
								<button type="button" class="btn btn btn-outline-success rounded-end-pill">SIGN IN</button>
							</a>
						</li>

						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
	</div>


		<div class="container">
			{% block content %}


			{% endblock %}
		</div>

	<!-- Flash messages on bottom of page -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="position-absolute bottom-0 start-50 translate-middle">
		<div class="cointainer">

			{% for message in messages %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	{% endwith %}

	<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>