<!-- What to extend, it this case, our base template -->
{% extends "base.html" %}

<!-- Extra markup that goes in <head> -->
{% block head %}
{{ super() }}
<!-- CSS for audio player -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/essential_audio.css') }}"></link>
{% endblock %}

<!-- Homepage content -->
{% block content %}

<h1>Songs</h1>
{{ current_user }}

<br>

{% for song in songlist %}

<div class="song-container">

    <div class="song-object-picture">
        
        <img src="{{url_for('cdn_icons', filename=song.file_cover)}}" alt="Song image" style="width: 100%; height: 100%;">

    </div>

    <div class="song-object-title left-padding">
        <div class="vertical-center overflow-hidden">{{ song.title }}</div>
    </div>

    <div class="song-object-artist left-padding">
        <a href="#">
            <div class="vertical-center overflow-hidden">{{ song.artist }}</div>
        </a>
    </div>

    <div class="song-object-album">
        <a href="#">
            <div class="vertical-center overflow-hidden">{{ song.album }}</div>
        </a>
        
    </div>
    <div class="song-object-play">
        <!-- Gotta say; this media player is awesome -->
        <!-- https://essential-audio-player.net/ -->
        <div class="essential_audio vertical-center " style="padding-left: 10px; padding-right: 10px;" data-url="{{url_for('cdn_songs', filename=song.file_name)}}"></div>
    </div>


    <div class="song-object-download">
        <button type="button" class="btn btn-secondary vertical-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"></path>
            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"></path>
            </svg>
        </button>
    </div>




    <div class="song-object-owner">
        
    </div>
    <div class="song-object-fav">
        
    </div>
    <div class="song-object-time">
        {{ song.length_in_sec }}
    </div>
    <div class="song-object-goto">
        <a href="#">
            <button type="button" class="btn btn-outline-success rounded-0" style="height: 100%; width: 100%;">
                go
            </button>
        </a>

    </div>

    
</div>

<br>
<script src="{{ url_for('static', filename='js/essential_audio.js')}}"></script>
{% endfor %}
{% endblock %}
