<!-- What to extend, it this case, our base template -->
{% extends "base.html" %}

<!-- Extra markup that goes in <head> -->
{% block head %}
{{ super() }}

<style>

.content-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.content-top-left {
    width: 60%;
    background-color: red;
}

.content-top-right {
    width: 40%;
    background-color: blue;
}

.content-bottom-left {
    width: 40%;
    background-color: green;
}

.content-bottom-right {
    width: 60%;
    background-color: yellow;
}


</style>

{% endblock %}

<!-- Homepage content -->
{% block content %}


<br>
<br>

<div class="content-container">
    <div class="content-top-left">
        top left
    </div>
    <div class="content-top-right">
        top right
    </div>
    <div class="content-bottom-left">
        bottom left
    </div>
    <div class="content-bottom-right">
        bottom right
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}