<!-- What to extend, it this case, our base template -->
{% extends "base.html" %}

<!-- Extra markup that goes in <head> -->
{% block head %}
{{ super() }}
{% endblock %}

<!-- Homepage content -->
{% block content %}

<h1>Upload songs</h1>

current_user: {{ current_user.username }}

<p>Please upload your songs here.</p>
<p>Right now we only accept mp3 files.</p>
<p>If al files are uploaded, you will be redirected to the upload session.</p>
<p>Here you can add all info.</p>

<form method='POST' enctype='multipart/form-data'>
  {{form.hidden_tag()}}
  {{form.files()}}
  {{form.submit()}}
</form>

{% endblock %}

